# buiding with Eclipse artefacts:
/bin
/target

# Maven/Eclipse artefacts:
/.classpath
.settings/
.project

# Mac OS `thumbnails` folder file:
.DS_Store

# Python:
*.pyc

# VIM temp files:
*.swp
*.swo

test.conf
/org.eclipse.*.prefs
