<!DOCTYPE html>
<html ng-app="ManagApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/angular-motion.css">
        <link rel="stylesheet" href="/css/dev.css">
        <link rel="stylesheet" href="/css/manag.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-animate.min.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-sanitize.min.js"></script>
        <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js"></script>
        <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js"></script>
        <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
		<script src="/js/ManagApp.js"></script>
		<script src="/js/popup.js"></script>
        <title> Categories Room </title>
    </head>
    <body ng-controller="CategoryManipulation">
        <div class="navbar navbar-inverse navbar-fixed-top">	                
	    	<div class="navbar-inner"> 
	          <div class="container">
	          		<span class="user-logo glyphicon glyphicon-user"> Hello $name</span>		                    
		          	<ul class="pull-right">
		          		<li>
		          			<a class="btn btn-link glyphicon glyphicon-home quit-btn" href="/">Main</a>
		          			<a class="btn btn-link glyphicon glyphicon-log-out quit-btn" href="/logout">Exit </a>
		          		</li>
		          	</ul>		         
	          </div>          
	        </div>
        </div>
        <div class="container">
        	<div class="row">
        		<div class="col-md-9">
        			<div align="center">
    				<input  type="text" ng-model="search" class="search-query form-control" placeholder="Search category"/>
        			</div>
        			<div class="list" ng-repeat="categorie in categories | filter:search ">
        				<span class="btn btn-link categ" data-ng-click="openmanip(categorie)">{{categorie}}</span>
        			</div>
        		</div>
		        <div class="col-md-3" ng-show="managmenu">
		        	<div>
			        	<button class="btn btn-danger" style="margin-right: 15px;" ng-click="toggleModal()">del</button>
			        	<span class="selectcat">"{{categoryName}}"</span>		        		        	 	    									
					</div>
					<form class="form-inline" role="form">
					  <div class="form-group">
					  	<input type="text" class="form-control" ng-model="incatmanip"/>
					  </div>
					  <button class="btn btn-success" ng-click="renamecat()">ren</button>
					</form>		       
			    </div>
			</div>	 
		</div>
	    <modal-dialog show='modalShown' width="400px" height="150">
		    </br>
		    <p class="text-center">Ви дійсно бажаєте видалити цю категорію?</p>
		    </br>
		    <div align="center">
			    <button class="btn btn-danger" ng-click="delcat()">yes</button>
			    <button class="btn btn-success" ng-click="toggleModal()">cancel</button>
	    	</div>
	    </modal-dialog>
    	<div id="footer">
        	<p class="version text-center">© Company 2014 Version: $v</p>
    	</div>	
    </body>
</html>
