<!DOCTYPE html>
<html ng-app="KittnsApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/angular-motion.css">
        <link rel="stylesheet" href="/css/dev.css">
        <link rel="stylesheet" href="/css/manag.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-animate.min.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-sanitize.min.js"></script>
        <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js"></script>
        <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js"></script>
        <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
        <script src="/js/dnd.js"></script>
		<script src="/js/kittnsApp.js"></script>
		<script src="/js/categController.js"></script>
		<script src="/js/popup.js"></script>
        <title> Upload page </title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">	                
	    	<div class="navbar-inner"> 
	          <div class="container">
	          		<span class="user-logo glyphicon glyphicon-user"> Hello $name</span>		                    
		          	<ul class="pull-right">
		          		<li><a class="btn btn-link glyphicon glyphicon-home quit-btn" ui-sref="main">Main</a></li>
		          		<li><a class="btn btn-link glyphicon glyphicon-wrench quit-btn" ui-sref="manip">Category</a></li>
		          		<li><a class="btn btn-link glyphicon glyphicon-log-out quit-btn" href="/logout">Exit </a></li>
		          	</ul>		          			         
	          </div>          
	        </div>
        </div>       
        <div ui-view></div>        
    	<div id="footer">
        	<p class="version text-center">© Company  2014 Version: $v</p>
    	</div>	
    </body>
</html>