<!DOCTYPE html>
<html ng-app="MyAngularApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/angular-motion.css">
        <link rel="stylesheet" href="css/dev.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-animate.min.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-sanitize.min.js"></script>
        <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js"></script>
        <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js"></script>
		<script src="js/upload.js"></script>
		<script src="js/dataUpload.js"></script>	
        <title> Upload page </title>
    </head>
    <body ng-controller="FileUpload">
        <div class="navbar navbar-inverse navbar-fixed-top">	                
	    	<div class="navbar-inner"> 
	          <div class="container">
	          		<span class="user-logo glyphicon glyphicon-user"> Hello $name</span>		                    
		          	<ul class="pull-right">
		          		<li>
		          			<a class="btn btn-link glyphicon glyphicon-log-out quit-btn" href="/logout">Exit </a>
		          		</li>
		          	</ul>		         
	          </div>          
	        </div>
        </div>
        <input type="file" id="file" ng-model="wfile">
        <div ng-controller="ServerFile" class="container">
	    	<div class="row">
	            <div class="col-md-2">      
	                <div class="input-group catlist">
	                    <span class="btn btn-success input-group-addon ownbtn" ng-disabled="addcateg" ng-click="addcat()">add</span>
	  					<input id="categoryName" type="text" class="form-control" value="{{ncateg}}" ng-model="incat" data-min-length="0" data-animation="am-flip-x" 
	 					 ng-options="aCategory for aCategory in categories | filter: catName" bs-typeahead/>
	     				<span class="btn btn-danger input-group-addon ownbtn" ng-disabled="listclear" ng-click="clear()">x</span>	     				
	                </div>	                
	            </div>			
        		<div id="view" class="col-md-10" >
               	 	<div id="{{aValue.id}}" ng-Mouseover="over($event)" ng-Mouseout="out($event)" ng-repeat="aValue in allValues" class="category" correct-repeat-directive>
						<button  ng-click="del($event)" class="close">&times</button>	
						<h4 class="text-center">{{aValue.TXT}}</h4>
						<button  ng-click="del($event)" class="close">&times</button>												
                        <img  ng-src={{aValue.IMG}} title={{aValue.TXT}} width="176" height="220"/>
                        <button  ng-click="del($event)" class="close">&times</button>                        
                        <audio   controls ng-src={{aValue.SOUND}} ></audio>                                            
                	</div> 
           		</div>  
            </div>         	          
        </div >
    	<div id="footer">
        	<p class="version text-center">© Company 2014 Version: $v</p>
    	</div>	
    </body>
</html>
