<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div style="padding-top: 10px;">
				<span class="btn inputclear" ng-show="listclear" ng-click="clear()">&times;</span>
				<button class="btn btn-info addbnt" ng-if="addcateg"
					ng-click="addcat()">add</button>
				<input type="text" class="form-control catlist" ng-model="incat"
					data-min-length="0" data-animation="am-flip-x"
					ng-options="aCategory for aCategory in categories | filter: catName"
					bs-typeahead />
			</div>
			<input id='inFile' type='file'
				onchange="angular.element(this).scope().fileFromInput(this)"
				style="display: none;" />
		</div>
		<div class="col-md-10">
			<div ng-repeat="aValue in allValues| myOrderBy: 'sortBy':false" class="category"
				style="padding-top: 10px;">
				<button ng-if="aValue.label"
					ng-click="toggleModal('/labels'+aValue.id+'.txt')" class="close">&times;</button>
				<div ng-if="aValue.label" class="text-center imageTitle smallBox">{{aValue.label}}</div>
				<form ng-if="!aValue.label"
					ng-submit="setTitle(aValue.id, aValue.newTitle)">
					<input class="titlePlaceHolder smallBox" filedrop
						on-file-drop="fileDropped('labels', aValue.id)"
						ng-model="aValue.newTitle" type="text"
						placeholder="Add text or drop txt file" />
				</form>

				<button ng-if="aValue.image" ng-click="toggleModal(aValue.image)"
					class="close">&times;</button>
				<img ng-if="aValue.image" ng-src={{aValue.image}} title="{{aValue.TXT}}"
					class="image bigBox" width="176" height="220" />
				<div ng-click="openInput('/images', aValue.id)" ng-if="!aValue.image"
					class="imagesPlaceHolder bigBox text-center "
					id="{{aValue.id}}.image" filedrop
					on-file-drop="fileDropped('images', aValue.id)">Drop image
					file here</div>

				<button ng-if="aValue.sound" ng-click="toggleModal(aValue.sound)"
					class="close">&times;</button>
				<div ng-if="aValue.sound" class="sound smallBox">
					<audio style="width: 172px;" ng-if="aValue.sound" controls
						ng-src={{aValue.sound}}></audio>
				</div>
				<div ng-click="openInput('/sounds', aValue.id)"
					ng-if="!aValue.sound" class="soundsPlaceHolder  smallBox" filedrop
					on-file-drop="fileDropped('sounds', aValue.id)">Drop sound
					file here</div>
			</div>
			<div class="category" ng-if="ncateg" style="padding-top: 10px;">
				<form ng-submit="setNewTitle()">
					<input ng-model="newBundle.title" type="text" filedrop
						on-file-drop="fileDropped('labels', '/'+ncateg)"
						class="titlePlaceHolder smallBox"
						placeholder="Add text or drop txt file" />
				</form>
				<div ng-click="openInput('/images', '/'+ncateg)" id="imageDrop"
					class="imagesPlaceHolder bigBox text-center" filedrop
					on-file-drop="fileDropped('images', '/'+ncateg)">Drop image
					file here</div>
				<div ng-click="openInput('/sounds', '/'+ncateg)" id="soundDrop"
					class="soundsPlaceHolder smallBox" filedrop
					on-file-drop="fileDropped('sounds', '/'+ncateg)">Drop sound
					file here</div>
			</div>
		</div>
	</div>
</div>
<modal-dialog show='modalShown' width="400px" height="150">
	</br>
	<p class="text-center">Ви дійсно бажаєте видалити цей об'єкт?</p>
	</br>
	<div align="center">
		<button class="btn btn-danger" ng-click="del('/text'+aValue.id+'.txt')">yes</button>
		<button class="btn btn-success" ng-click="toggleModal()">cancel</button>
	</div>
</modal-dialog>
