@CHARSET "UTF-8";

.quit-btn {
	color : orange;
	font-size: 25px;	
}
.user-logo {
	color: orange;
	word-spacing: -20px;
	font-size: 25px;
	margin-top: 7px;
}
.bs{
    margin: 10px auto; 
    width:285px;
}
.category {
    position:relative;
    display: inline-block;
    float:left;
    padding:10px;
}
audio { 
width: 176px; 
display: block; 
margin:10px; 
}

.not-available {
    background-color: #F88;
}
.over {
    background-color: #bfb;
}

.textPlaceHolder {
    width: 195px;
    height: 50px;
    margin-bottom: 5px;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 15px;
    font-family: Arial, sans-serif;
}
.imagesPlaceHolder {
    width: 195px;
    height: 190px;
    margin-bottom: 5px;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.soundsPlaceHolder {
    width: 195px;
    height: 50px;
    margin-bottom: 5px;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 15px;
    font-family: Arial, sans-serif;
}