.categ{
	padding: 0px;
	color : black;
}
.search-query {
	width: 226px;
}
.list{
	float: left;
	padding-top: 25px;
	padding-right: 10px;
}
.form-inline{
	padding-top: 15px;
}
.selectcat{
	font-size: 25px;
	color: black;
}
.namecateg {
	border: 2px solid #DDD;
	border-radius: 8px;
	font-size: 15px;
	width: 176px;
	height: 30;
}
.rencateg{
	width: 174px;
}
